body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 98vw;
  height: 95vh;
}

.hNav {
  grid-column-start: 1 ;
  grid-column-end: 2 ;
 
}

.container-fluid {
  grid-column-start: 2 ;
  grid-column-end: -1 ;
}

.line-thru {
  text-decoration: line-through;
}

.light {
  background-color: #FFFFFF;
}

.dark {
  background-color: #000000;
  color: #FFFFFF;
}